@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; }
#left{width:200px; float:left; background:#0F0; display:inline; }
#mid{width:100%; margin:0 200px; }
#right{width:200px; float:right; background:#0F0; display:inline;}